@import "variable";
*{
	box-sizing: border-box;
}
a{
	text-decoration: none;	
	transition: 0.2s;	
	&:hover{
		opacity: 0.8;
	}
	&:focus{
		outline: none;
	}
}
p{
	margin: 0;
}

body{
	color: @black;
	font-size: 22px;
	line-height: 1.5;
	font-weight: 300;

}
.container{
	max-width: @container-width;
	padding: 0 15px;
	margin: 0 auto;
}
.clearfix:after{
	&:after{
		content: '';
		clear: both;
		display: block;
	}
	
}
.divider{
	width: 86px;
	height: 2px;
}
.wight{
	background-color: @wight-wight;
}
.grey{
	background-color: @wight;
}

@font-face {
	font-family: "Ambl";
	src: url("../fonts/Amble-Regular.ttf");
	font-style: normal; 
	font-weight: normal; 
}   

@font-face {
    font-family: "BigJon";
    src: url("../fonts/BIG JOHN.otf") format("opentype");
}
@font-face {
    font-family: "SlimJoe";
    src: url("../fonts/Slim Joe.otf") format("opentype");
}